<div class="sidebar">
  <div class="grid">
      <img class="imglogo" src="../assets/logo/avatar5.jpeg" alt="logo" width="90%" height="90%" />
      <div class="titleRepo">
          <h3>SIVRI</h3>
      </div>
  </div>
  <ul class="pt-2">

      <div class="my-1">
          <a class="button-link" >

              <p>Inicio</p>
          </a>
      </div>
      <div class="my-1">
          <a class="button-link" >

              <p>Semilleros</p>
          </a>
      </div>
      <div class="my-1">
          <a class="button-link" >

              <p>Integrantes Semillero</p>
          </a>
      </div>
      <div class="my-1">
          <a class="button-link" >

              <p>Proyecto Semillero</p>
          </a>
      </div>
  </ul>
</div>
