<div id="wrapper">
  <!--menu vertical-->
<app-menu-vertical></app-menu-vertical>
<!--contenido-->
<div id="content">
  <!--nav horizontal-->
  <app-barra-horizontal></app-barra-horizontal>

  <div class="card shadow" id="div-contenido" style="position: absolute; width: 80%; left: 18%; ">
    <div class="card-header py-3">
        <div class="col-md-6 text-nowrap">
            <div class="mb-4" id="dataTable_length"></div>
        </div>
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Semilleros registrados</h3>
        </div>
    </div>
    <div class="card-body mb-4">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col">
                <form>
                    <div class="row">
                        <div class="col-3" style="margin-bottom: 5px;margin-top: 6px;">
                            <div placeholder="user.name" name="username"><input class="form-control" type="text" id="username-1" placeholder="Buscar..." name="fechaInicio"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div placeholder="user.name" name="username">
                                <hr>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length-1" class="dataTables_length" aria-controls="dataTable">
                  <label class="form-label">Mostrar&nbsp;
                    <select class="d-inline-block form-select form-select-sm" (change)="onSelectChange($event)" [(ngModel)]="opcionSeleccionada" >
                      <option [value]="item" *ngFor="let item of paginas">{{item}}</option>
                      </select>
                    &nbsp;</label></div>
            </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th style="margin-right: -1px;padding-right: 10px;">Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Fecha creación</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of semilleroModelo">
                        <td>{{item.semilleroId}}</td>
                        <td>{{item.nombre}}</td>
                        <td>agora.edu.co FALTA</td>
                        <td>{{item.fechaCreacion}}</td>
                        <td>{{item.estado}}</td>
                        <td><a class="btn btn-light btn-sm d-none d-sm-inline-block" role="button" href="infoSemillero.html" style="margin-bottom: 5px;"><img class="far fa-eye" src="../../../assets/svg/mostrar.svg"/></a><a class="btn btn-info btn-sm d-none d-sm-inline-block" role="button" href="infoSemillero.html" data-bs-target="#modal-editarEstadoSemillero" data-bs-toggle="modal">Estado</a></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Id</strong></td>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Email</strong></td>
                        <td><strong>Fecha creacion</strong></td>
                        <td><strong>Estado</strong></td>
                        <td><strong>Acciones</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Visualizando {{paginaActual}} de {{numeroPaginas}}</p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  </div>
</div>

</div>
